* {
	margin: 0;
	padding: 0;
	box-sizing: border-box; 
	transition: 0.3s all;
	font-family: 'Open Sans', sans-serif;
}
	   .col-1 {width: 8.333333333333333%; height: auto; float: left; padding: 15px;}
	   .col-2 {width: 16.66666666666667%; height: auto; float: left; padding: 15px;}
	   .col-3 {width: 25%; height: auto; float: left; padding: 15px;}
	   .col-4 {width: 33.33333333333333%; height: auto; float: left; padding: 15px;}
	   .col-5 {width: 41.66666666666667%; height: auto; float: left; padding: 15px;}
	   .col-6 {width: 50%; height: auto; float: left; padding: 15px;}
	   .col-7 {width: 58.33333333333333%; height: auto; float: left; padding: 15px;}
	   .col-8 {width: 66.66666666666667%; height: auto; float: left; padding: 15px;}
	   .col-9 {width: 75%; height: auto; float: left; padding: 15px;}
	   .col-10 {width: 83.33333333333333%; height: auto; float: left; padding: 15px;}
	   .col-11 {width: 91.66666666666667%; height: auto; float: left; padding: 15px;}
	   .col-12 {width: 100%; height: auto; float: left; padding: 15px;}
	   
	   .container-fluid{ width: 100%; }
	   
	   .container{max-width:1100px;margin: auto;}
	   
	   .img-fluid{width: 100%; height:auto;}
 
		.cl{clear:both;}
a {
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
  text-decoration: none;
}

.admin
{
	background-image:url("../images/book_blur_2_enhanced.jpg");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	width:100%;
	padding:510px;
	margin-top:-20px;
	text-align:center; 
}
.admin h1
{
	margin-top:80px;
		font-size:100px;
	font-weight: bold;
	color:#ff8c1a;
	text-shadow:3px 5px 3px black;
	font-family:Comic Sans MS;
	text-align: center; 
}
.admin button
{
	margin-top:50px;
	padding:20px 60px;
	color:white;
	background-image:url("../images/wallpaper_2.jpg");
	background-repeat: no-repeat;
	text-shadow:1px 1px 1px #e68a00;
	border-color:saddlebrown;
}
.logo
{
	margin-top:-500px;
}
.logo img
{
	width: 100%;
}
.second
{
	margin-top:10px;
}
.user
{
	margin-top:-400px;
	margin-left:650px;
}
.user p
{
	margin-bottom:-100px;
	font-weight: bold;
	color: white;
	font-size:100%;
	text-shadow:1px 0px 2px black;
}
.user img
{	
	width:50%;
	margin-left:180px;
}
.event
{
	margin-left:280px;
}



















