* {
	margin: 0;
	padding: 0;
	box-sizing: border-box; 
	transition: 0.3s all;
	font-family: 'Open Sans', sans-serif;
}
	   .col-1 {width: 8.333333333333333%; height: auto; float: left; padding: 15px;}
	   .col-2 {width: 16.66666666666667%; height: auto; float: left; padding: 15px;}
	   .col-3 {width: 25%; height: auto; float: left; padding: 15px;}
	   .col-4 {width: 33.33333333333333%; height: auto; float: left; padding: 15px;}
	   .col-5 {width: 41.66666666666667%; height: auto; float: left; padding: 15px;}
	   .col-6 {width: 50%; height: auto; float: left; padding: 15px;}
	   .col-7 {width: 58.33333333333333%; height: auto; float: left; padding: 15px;}
	   .col-8 {width: 66.66666666666667%; height: auto; float: left; padding: 15px;}
	   .col-9 {width: 75%; height: auto; float: left; padding: 15px;}
	   .col-10 {width: 83.33333333333333%; height: auto; float: left; padding: 15px;}
	   .col-11 {width: 91.66666666666667%; height: auto; float: left; padding: 15px;}
	   .col-12 {width: 100%; height: auto; float: left; padding: 15px;}
	   
	   .container-fluid{ width: 100%; }
	   
	   .container{max-width:1100px;margin: auto;}
	   
	   .img-fluid{width: 100%; height:auto;}
 
		.cl{clear:both;}
a {
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
  text-decoration: none;
}


.main_banner
{
	background-image:url("../images/book_blur_3-Picsart-AiImageEnhancer.jpg");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	width:100%;
	padding-bottom:100px;
}
.logo img
{
	width: 100%;
}
.main_banner h1
{
	margin-top:100px;
	font-size:80px;
	text-align: center;
	text-transform: uppercase;
	font-weight:bold;
	position: absolute;
	top:30%;
	left: 50%;
	transform: translate(-50%,-50%);
	margin:0;
	background:url("../images/orange image.jpg") 50% 50%;
	background-size: cover;
	-webkit-text-fill-color:transparent;
	-webkit-background-clip:text;
	font-family: The Vicious Circle;
}
.ttb table,td
{
	font-weight: normal;
	font-size:10px;
}
.table, th, td 
{
  border:1px solid black;
	background-color:white;
	text-align: center;
	padding:10px;
}
.person_1
{
	width:100%;
}
.person_2
{
	width:20%;
}
.book_1
{
	width:40%;
}
.book_2
{
	width:40%;
}



.ttb table
{
	margin-top:250px;
}





























