* {
	margin: 0;
	padding: 0;
	box-sizing: border-box; 
	transition: 0.3s all;
	font-family: 'Open Sans', sans-serif;
}
	   .col-1 {width: 8.333333333333333%; height: auto; float: left; padding: 15px;}
	   .col-2 {width: 16.66666666666667%; height: auto; float: left; padding: 15px;}
	   .col-3 {width: 25%; height: auto; float: left; padding: 15px;}
	   .col-4 {width: 33.33333333333333%; height: auto; float: left; padding: 15px;}
	   .col-5 {width: 41.66666666666667%; height: auto; float: left; padding: 15px;}
	   .col-6 {width: 50%; height: auto; float: left; padding: 15px;}
	   .col-7 {width: 58.33333333333333%; height: auto; float: left; padding: 15px;}
	   .col-8 {width: 66.66666666666667%; height: auto; float: left; padding: 15px;}
	   .col-9 {width: 75%; height: auto; float: left; padding: 15px;}
	   .col-10 {width: 83.33333333333333%; height: auto; float: left; padding: 15px;}
	   .col-11 {width: 91.66666666666667%; height: auto; float: left; padding: 15px;}
	   .col-12 {width: 100%; height: auto; float: left; padding: 15px;}
	   
	   .container-fluid{ width: 100%; }
	   
	   .container{max-width:1100px;margin: auto;}
	   
	   .img-fluid{width: 100%; height:auto;}
 
		.cl{clear:both;}
a {
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
  text-decoration: none;
}

.banner
{
	background-image:url("../images/backgroung_5.jpg");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	width:100%;
	padding-bottom:20%;
	
}
.short_banner h1
{
	color:white;
	font-size:80px;
	text-align: center;
	font-weight:bold;
	text-shadow:1px 1px 2px black;
	border:2px solid red;
	background-color:red;
	margin-top:20px;
}
.short_banner
{
	margin-right:15px;
}
#overdue_img
{
	width:50%;
	margin-left:250px;
	margin-top:50px;
}
.menu a{
	color:black;
	padding-left:20px;
}
.menu{
	float: right;
	margin-top:30px;
	font-weight: bold;
}
.menu a:hover
{
	border-bottom:3px solid #ff8c1a;
	color:orange;
}
.short_banner h2
{
	color: blue;
	font-size:40px;
	margin-top:100px;
}
.short_banner h3
{
	color: blue;
	font-size:30px;
	margin-top:100px;
	font-weight:normal;
}
.short_banner b
{
	color:blue;
}
.short_banner p
{
	margin-top:20px;
}
#color
{
	color: red;
}




























