* {
	margin: 0;
	padding: 0;
	box-sizing: border-box; 
	transition: 0.3s all;
	font-family: 'Open Sans', sans-serif;
}
	   .col-1 {width: 8.333333333333333%; height: auto; float: left; padding: 15px;}
	   .col-2 {width: 16.66666666666667%; height: auto; float: left; padding: 15px;}
	   .col-3 {width: 25%; height: auto; float: left; padding: 15px;}
	   .col-4 {width: 33.33333333333333%; height: auto; float: left; padding: 15px;}
	   .col-5 {width: 41.66666666666667%; height: auto; float: left; padding: 15px;}
	   .col-6 {width: 50%; height: auto; float: left; padding: 15px;}
	   .col-7 {width: 58.33333333333333%; height: auto; float: left; padding: 15px;}
	   .col-8 {width: 66.66666666666667%; height: auto; float: left; padding: 15px;}
	   .col-9 {width: 75%; height: auto; float: left; padding: 15px;}
	   .col-10 {width: 83.33333333333333%; height: auto; float: left; padding: 15px;}
	   .col-11 {width: 91.66666666666667%; height: auto; float: left; padding: 15px;}
	   .col-12 {width: 100%; height: auto; float: left; padding: 15px;}
	   
	   .container-fluid{ width: 100%; }
	   
	   .container{max-width:1100px;margin: auto;}
	   
	   .img-fluid{width: 100%; height:auto;}
 
		.cl{clear:both;}
a {
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
  text-decoration: none;
}


.banner_image
{
	background-image:url("../images/background_1.jpg");background-repeat: no-repeat;background-size: cover;
	width:100%;height:900px;background-position: center;
}
.logo img
{
	width: 100%;
	margin-top:-30px;
}
.banner_title
{
	text-align: center;
	margin-top:200px;
}
.banner_title b
{
	margin-top:50px;
	font-weight:normal;
}
.banner_title h1
{
	color:#ff8c1a;
	font-size:100px;
	font-family:Comic Sans MS;
	margin-bottom:50px;
	text-shadow:5px 0  3px black;
}
.banner_title p
{
	color:white;
	font-weight:bold;
	margin-top:-30px;
	font-size:25px;
	margin-bottom:40px;
}
.banner_title a
{
	padding:15px 15px;
	color:white;
	margin-top:20px;
	border:groove;
	margin-left:20px;
	border-color:chocolate;
	background-color:#663300;
}
.book_lists
{
	border:2px solid none;
	box-shadow: rgba(0, 0, 0, 0.25) 0px 50px 50px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
	opacity: 1px;
	padding:50px;
	margin-top:100px;

}
.name
{
	padding:50px 15px 15px 50px;
	
}
.book_lists h1
{
	margin:50px 0;
	color:chocolate;
	font-weight:bold;
	font-size:70px;
	font-family:Comic Sans MS;
}
.banner_half h3,h4
{
	font-weight:normal;
	font-size:15px;
	padding:5px;
}
.banner_half img
{
	width:60%;
	float: right;
}
.banner_half h2{
	margin-top:10px;
	font-weight: bold;
	font-size:20px;
	color: #ff8c1a;
	
}
.banner_half p{
	padding-top:10px;
	font-family: Arial;
	font-size:15px;
}
.banner_half h6{
	font-size:10px;
}
.newsletter 
{
	background-color:#ff944d;
	padding:100px;
	margin-top:100px;
}
.newsletter p
{
	color:black;
	font-size:40px;
	font-weight: bold;
	margin-top:-150px;
}
.newsletter input
{
	margin-left:200px;
	padding:10px;
	padding-right:30px;
	width:50%;
	outline: none;
	border-radius:5px;
}
#enter
{
	padding:10px;
	width:13%;
	margin-top:5px;
	margin-left:-50px;
	background-color: #ff8c1a;
}
.email
{
	margin-top:-130px;
}
#facebook
{
	width:10%;
	margin-top:20px;
}
#instagram
{
	width:10%;
}
#youtube
{
	width:10%;
}
#twitter
{
	width:10%;
}
.link
{
	margin-top:40px;
}
.link img
{
	width:5%;
}
.link h3
{
	font-weight:normal;
	padding-top:20px;
}
.resource
{
	margin-top:40px;
}
.resource img
{
	width:5%;
}
.resource h3
{
	font-weight:normal;
	padding-top:20px;
}
.contact
{
	margin-top:40px;
}
.contact img
{
	width:20%;
	margin-right:20px;
}
.contact h3
{
	font-weight:normal;
	padding-top:-30px;
}
#logo_img
{
	width:50%;
}
.logo h1
{
	margin-top:-30px;
	font-size:20px;
	color:  #e67300;
}
.logo p
{
	margin-top:20px;
}
.newsletter
{
	border-top:2px solid black;
	border-bottom:2px solid black;
	
}
.footer
{
	margin-top:50px;
}
.last_footer
{
	background-color:black;
	width:100%;
	padding:50px;
	margin-top:100px;
}
.last_footer p
{
	color:white;
	margin-left:100px;
}
.book_icon_2
{
	width:10%;
}




























