* {
	margin: 0;
	padding: 0;
	box-sizing: border-box; 
	transition: 0.3s all;
	font-family: 'Open Sans', sans-serif;
}
	   .col-1 {width: 8.333333333333333%; height: auto; float: left; padding: 15px;}
	   .col-2 {width: 16.66666666666667%; height: auto; float: left; padding: 15px;}
	   .col-3 {width: 25%; height: auto; float: left; padding: 15px;}
	   .col-4 {width: 33.33333333333333%; height: auto; float: left; padding: 15px;}
	   .col-5 {width: 41.66666666666667%; height: auto; float: left; padding: 15px;}
	   .col-6 {width: 50%; height: auto; float: left; padding: 15px;}
	   .col-7 {width: 58.33333333333333%; height: auto; float: left; padding: 15px;}
	   .col-8 {width: 66.66666666666667%; height: auto; float: left; padding: 15px;}
	   .col-9 {width: 75%; height: auto; float: left; padding: 15px;}
	   .col-10 {width: 83.33333333333333%; height: auto; float: left; padding: 15px;}
	   .col-11 {width: 91.66666666666667%; height: auto; float: left; padding: 15px;}
	   .col-12 {width: 100%; height: auto; float: left; padding: 15px;}
	   
	   .container-fluid{ width: 100%; }
	   
	   .container{max-width:1100px;margin: auto;}
	   
	   .img-fluid{width: 100%; height:auto;}
 
		.cl{clear:both;}
a {
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
  text-decoration: none;
}



.table
{
	background-image: url("../images/white_background.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	width:100%;
	padding:100px;
}
.table h1
{
	font-size:130px;
	font-family:Comic Sans MS;
	font-weight:bold;
	text-align: center;
	margin-top:-100px;
	margin-bottom:200px;
}
.table h3
{
	font-size:15px;
	margin-bottom:5px;
	padding-top:10px;
	color:black;
	margin-top:20px;
	font-weight:normal;
}
.image
{
	padding-top:30px;
}
.table h4
{
	padding-top:10px;
	margin-bottom:10px;
	font-weight: normal;
}
.table h2
{
	padding-top:30px;
	font-size:20px;
	font-weight: normal;
	margin-bottom:10px;
}
.table form
{
	padding-top:100px;
}
#name
{
		padding:10px;
	width:80%;
	border-radius:5px;
	margin-bottom:10px;
}
#category
{
		padding:10px;
	width:80%;
	border-radius:5px;
}
#email
{
		padding:10px;
	width:80%;
	border-radius:5px;
}
#address
{
		padding:30px;
	width:80%;
	border-radius:5px;
}
#age
{
		padding:10px;
	width:80%;
	border-radius:5px;
}
#number
{
		padding:10px;
	width:80%;
	border-radius:5px;
}
#cource
{
		padding:10px;
	width:80%;
	border-radius:5px;
}
#img
{
	border:2px dashed darkgray;
	border-radius:10px;
	padding:105px;
	width:70%;
}
#com
{
	border:2px solid darkgray;
	border-radius:10px;
	padding:90px;
	width:90%;
}
.table c
{
	color: blue;
}
.phno
{
	font-weight:normal;
	color: grey;
}
.per
{
	font-size:23px;
	font-weight:normal;
	margin-top:-200px;
}
.banner b
{
	color: red;
}
#sub
{
	padding:8px 25px;
	font-size:20px;
	border-radius:7px;
}
.sub
{
	text-align: center;
	padding-top:80px;
}

.tik
{
	list-style: none;
	margin-top:20px;
}
.rrr
{
	margin-top:-20px;
	margin-bottom:10px;
	margin-left:50px;
}
















