* {
	margin: 0;
	padding: 0;
	box-sizing: border-box; 
	transition: 0.3s all;
	font-family: 'Open Sans', sans-serif;
}
	   .col-1 {width: 8.333333333333333%; height: auto; float: left; padding: 15px;}
	   .col-2 {width: 16.66666666666667%; height: auto; float: left; padding: 15px;}
	   .col-3 {width: 25%; height: auto; float: left; padding: 15px;}
	   .col-4 {width: 33.33333333333333%; height: auto; float: left; padding: 15px;}
	   .col-5 {width: 41.66666666666667%; height: auto; float: left; padding: 15px;}
	   .col-6 {width: 50%; height: auto; float: left; padding: 15px;}
	   .col-7 {width: 58.33333333333333%; height: auto; float: left; padding: 15px;}
	   .col-8 {width: 66.66666666666667%; height: auto; float: left; padding: 15px;}
	   .col-9 {width: 75%; height: auto; float: left; padding: 15px;}
	   .col-10 {width: 83.33333333333333%; height: auto; float: left; padding: 15px;}
	   .col-11 {width: 91.66666666666667%; height: auto; float: left; padding: 15px;}
	   .col-12 {width: 100%; height: auto; float: left; padding: 15px;}
	   
	   .container-fluid{ width: 100%; }
	   
	   .container{max-width:1100px;margin: auto;}
	   
	   .img-fluid{width: 100%; height:auto;}
 
		.cl{clear:both;}
a {
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
  text-decoration: none;
}
.banner
{
	text-align: center;
	background-image: url("../images/wallpaper_1.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	padding-bottom:10%;
	
}
.logo img
{
	width: 100%;
}
.short_banner 
{
		border:2px solid none;
	box-shadow: rgba(0, 0, 0, 0.25) 0px 50px 50px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
	opacity: 1px;
	padding-bottom:250px;
	padding-top:30px;
	margin-top:200px;
}
.banner h1
{
	padding-top:300px;
	font-size:100px;
	font-family:Comic Sans MS;
	text-shadow:5px 0  3px black;
	color:#ff8c1a;
}
.book_1
{
	margin-top:50px;
}
.book_1 p
{
	padding-top:15px;
	font-weight: normal;
}
.book_1 img
{
	width:30%;
}
.book_2 p
{
	padding-top:15px;
	font-weight: normal;
}
.book_2 img
{
	width:30%;
}
.book_3 p
{
	padding-top:15px;
	font-weight: normal;
}
.book_3 img
{
	width:30%;
}
.book_4 p
{
	padding-top:15px;
	font-weight: normal;
}
.book_4 img
{
	width:30%;
}
.book_5 p
{
	padding-top:15px;
	font-weight: normal;
}
.book_5 img
{
	width:30%;
}
.book_6 p
{
	padding-top:15px;
	font-weight: normal;
}
.book_6 img
{
	width:30%;
}
.book_7 p
{
	padding-top:15px;
	font-weight: normal;
}
.book_7 img
{
	width:30%;
}
.book_8 p
{
	padding-top:15px;
	font-weight: normal;
}
.book_8 img
{
	width:30%;
}
.book_9 p
{
	padding-top:15px;
	font-weight: normal;
}
.book_9 img
{
	width:30%;
}
.banner h2
{
	font-size: 20px;
}
.banner h3
{
	font-weight: normal;
	font-size:15px;
}
.short_banner a
{
	border: 2px solid #228B22;
	padding:10px;
	color:white;
	font-weight: bold;
	background-color: #228B22;
}












































