* {
	margin: 0;
	padding: 0;
	box-sizing: border-box; 
	transition: 0.3s all;
	font-family: 'Open Sans', sans-serif;
}
	   .col-1 {width: 8.333333333333333%; height: auto; float: left; padding: 15px;}
	   .col-2 {width: 16.66666666666667%; height: auto; float: left; padding: 15px;}
	   .col-3 {width: 25%; height: auto; float: left; padding: 15px;}
	   .col-4 {width: 33.33333333333333%; height: auto; float: left; padding: 15px;}
	   .col-5 {width: 41.66666666666667%; height: auto; float: left; padding: 15px;}
	   .col-6 {width: 50%; height: auto; float: left; padding: 15px;}
	   .col-7 {width: 58.33333333333333%; height: auto; float: left; padding: 15px;}
	   .col-8 {width: 66.66666666666667%; height: auto; float: left; padding: 15px;}
	   .col-9 {width: 75%; height: auto; float: left; padding: 15px;}
	   .col-10 {width: 83.33333333333333%; height: auto; float: left; padding: 15px;}
	   .col-11 {width: 91.66666666666667%; height: auto; float: left; padding: 15px;}
	   .col-12 {width: 100%; height: auto; float: left; padding: 15px;}
	   
	   .container-fluid{ width: 100%; }
	   
	   .container{max-width:1100px; margin: auto;}
	   
	   .img-fluid{width: 100%; height:auto;}
 
		.cl{clear:both;}
a {
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
  text-decoration: none;
}

  body {
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      background:#FCFCFC;
      margin: 0;
      padding: 20px;
    }

    h1 {
      text-align: center;
      color:black;
      margin-bottom:100px;
	  margin-top:50px;
	  font-size:50px;
    }

    
.list-container 
{
      max-width: 1000px;
      margin: auto;
      display: grid;
      grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) );
      gap: 20px;
	
}

    
.card 
{
      background:linear-gradient(to bottom right, #0033cc 0%, #99ccff 100%);
      padding: 20px;
      border-radius: 15px;
      box-shadow: 0 6px 12px rgba(0,0,0,0.3);
      transition: transform 0.2s, box-shadow 0.2s;
}

    
.card:hover 
{
      transform: translateY(-5px);
      box-shadow: 0 8px 18px rgba(0,0,0,0.19);
}

    
.card h2 
{
      font-size: 25px;
      margin: 0 0 20px;
      color: black;
}

    
.card p 
{
      margin: 6px 0;
      color: white;
}


.card b 
{
      margin: 6px 0;
      color:black;
}


.card img
{
	width:30%;
	margin-bottom:20px;
}

    
.total 
{
      max-width: 1000px;
      margin: 30px auto 0;
      font-size: 18px;
      font-weight: bold;
      text-align: right;
      color: #111;
}

   
.highlight 
{
      color: #4CAF50;
}